*{

    margin:0;
    box-sizing:border-box;
}

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0px 0px 5px rgba(1, 1, 1, 0.3);


}

.image1 img{

    padding-left:30px;
}

.bar img{

    padding-right:50px;
}

.section1{
    display:flex;
    gap:30px;
    margin-top:60px;
    align-items:center;
    justify-content:center;
    margin-left:-170px;
}

.product{

    background-color:green;
    color:white;
    align-self:start;
    padding:5px;
}

.explore{

    background-color:rgba(255, 255, 0, 0.905);
    padding:5px;
    align-self:start;
}

.contant1{

    display:flex;
    flex-direction:column;
    gap:15px;
}

.enjoy{

    font-size:50px;
}

.section2{
    display:flex;
    gap:30px;
    
    border:solid 2px rgb(39, 169, 221);
    width:1000px;
    justify-content:center;
    align-items:center;
    padding:10px;
    margin:40px 0px 30px;
}

.box{
    display:flex;
    justify-content:center;
    
}



.contant2{
    display:flex;
    gap:10px;
}

.tag{

    background-color:green;
    color:white;
    padding:5px;
    align-items:center;
    margin-top:20px;
}

.section3{

    margin-top:30px;
    border:solid 3px rgb(39, 169, 221);
    display:grid;
    justify-content:center;

}

 .tag{
    display:inline;
    text-align:center;
}

.section3 .Explore{

    text-align:center;

}

.tages{

    display:flex;
}

.imagesAll{

    margin-top:20px;
    display:grid;
    gap:10px;
    grid-template-areas:
     
       "I1 I1 I2 I3"
       "I1 I1 I2 I7"
       "I4 I5 I6 I7";
}

.iteam1{

    grid-area:I1;

}
.iteam2{

    grid-area:I2;
    
}
.iteam3{

    grid-area:I3;
    
}
.iteam4{

    grid-area:I4;
    
}
.iteam5{

    grid-area:I5;
    
}
.iteam6{

    grid-area:I6;
    
}
.iteam7{

    grid-area:I7;
    
}